body{
    background-color: #ededed;
}

.drawing-board {
    height: 512px;
    width: 512px;
    background-color: black;
    display: flex;
    flex-wrap: wrap ;
    margin-top: 75px;
}
.hovered{
    background-color: gold;
}
.buttons{
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 85px;
}
.idividualbuttons{
    font-size: 20px;
    font-family: monospace;
    background-color: rgb(90, 112, 131);
    color:rgb(255, 142, 89);
    padding: 20px;
    border-radius: 10px;
    font-weight: 800;
    transition: all .07s ease;
    border: 4px solid rgb(238, 222, 194);
    margin-left: 20px;
    margin-right: 10px;
}
.color {
    margin-top: 70px;
}

.selected {
    transform: scale(1.1);
    border-color: rgba(121, 255, 80, 0.856);
    transition-duration: 300ms;
}
.reset {
    transform: scale(1.05);
    border-color: rgba(121, 255, 80, 0.856);
    transition-duration: 10ms;
}
.body{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.heading{
    font-size: 50px;
    font-weight: bolder;
    font-family: monospace;
    display: flex;
    justify-content: center;
}